//Son como @extends, pueden recibir parámetros y recibir su contenido de forma dinámica
//No es una funcion, no se puede escribir condicionales, ni returns, solo CSS.
//Indicamos con simplicidad en colorth (color theme) el color que buscamos.
@mixin color-theme($color-th){ 
    color: darken($color: $color-th, $amount: 25%);
    background-color: lighten($color: $color-th, $amount: 10%);
    border: 1px solid $color-th;
}
//Crear flexCenter($justify) y flexBetween($justify)

/* Mi intento: */
@mixin flexCenter($justify){
    display: flex;
    justify-content: $justify;
    align-items: center;
}
@mixin flexDirection($direction){
    display: flex;
    flex-direction: $direction;
}
@mixin theme($lightTheme:default){ //Es un parámetro por defecto, si no está en llamada se aplica este valor por defecto
    @if ($lightTheme==true) {
        background-color: lighten($bg-color, 50%);
        p{
            color: darken($color: $bg-color, $amount: 25%) !important; //Metemos important para asegurar que se va respetar esta regla
        }
    }
}