@import "./reset";
@import "./functions";
@import "./maps";
@import "./mixins";
@import "./lists";
@import "./variables";

// Generics
:root {
  font-size: map-get($map: $font-sizes, $key: "initial");
  box-sizing: border-box; //Esto se hace para que cuando cargue la caja, no se sume ni el paddin ni el borde, este tamaño sea incluyendo a ambos.
}
body {
  background-color: $bg-color;
  padding: nth($padding, 3) nth($padding, -1); //nth nombre de la lista, y valor de la lista: -1 = ultimo valor del array de _list
  font-family: $titillium;
  font-weight: map-get($map: $titillium-fw, $key: "Regular");
  h1 {
    font-family: $rubik;
    font-weight: map-get($map: $rubik-fw, $key: "Black");
  }
  .main {
    width: 80%;
    border-radius: $br-1;
    border: 1px solid $dark;
    padding: 1em 2em;
    margin: 2em auto;
    margin-top: $margin-top;
    margin-top: $mt-3;
    background-image: url($path);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    //Para declarar main-header, como header está dentro de main se concatena con "&"
    &-header {
      font-size: map-get($map: $font-sizes,$key: "xx-large"); //Es más correcto poner xx-large con comillas
    }
  }
}
