@import "./reset";
@import "./functions";
@import "./maps";
@import "./mixins";
@import "./lists";
@import "./variables";

// Generics
:root {
  font-size: fs("medium"); //Usamos functions para indicar el tama침o del mapa
  box-sizing: border-box; //Esto se hace para que cuando cargue la caja, no se sume ni el paddin ni el borde, este tama침o sea incluyendo a ambos.
}
body {
  background-color: $bg-color;
  //padding: nth($padding, 3) nth($padding, -1); //nth nombre de la lista, y valor de la lista: -1 = ultimo valor del array de _list
  padding: getPadding(3) getPadding(-1);
  font-family: getFont(true); //Sin espacios para darle valor 
  font-weight: ttl-fw("regular");
 
.main {
    width: 80%;
    border-radius: $br-1;
    border: 1px solid $dark;
    padding: 1em 2em;
    margin: 2em auto;
    margin-top: $margin-top;
    margin-top: $mt-3;
    background-image: url($path);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    //Para declarar main-header, como header est치 dentro de main se concatena con "&"
    &-header {
        font-size: map-get($map: $font-sizes,$key: "xx-large"); //Es m치s correcto poner xx-large con comillas
        font-weight: ttl-fw("black");
        font-family: getFont(false);
        transition: color .3s ease-in-out;
        &:hover{
            color: $orange;
        }
    }
  }
}
